.Weather {
  border: 1px solid #d9d9d9;
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  border-radius: 5px;
  background-color: #d1c4e9;
}

.Weather h1 {
  color: rgb(32, 33, 36);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: #757575;
  font-weight: 400;
  line-height: 16px;
  list-style: none;
}

.Weather canvas {
  height: 50px;
  margin-top: 5px;
  vertical-align: top;
  width: 50px;
}

.Weather .temperature {
  color: #202124;
  font-size: 48px;
  font-weight: 400;
  display: inline;
  line-height: 60px;
  padding-left: 10px;
  vertical-align: top;
}

.Weather .unit {
  color: #202124;
  font-size: 16px;
  font-weight: 400;
  display: inline;
  line-height: 38px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
}

.Weather .currentConditions {
  font-size: 14px;
  margin-top: 8px;
  color: #757575;
}
